<suite name="Suite" parallel="methods" thread-count="5">
    <listeners>
        <listener class-name="utility.ExtentReportManager" />
    </listeners>

    <test name="ParallelByMethods">
        <classes>
            <class name="testBase.LoginPageTest" />
            <class name="testBase.LandingPageTest" />
            <class name="testBase.AccountPageTest" />
        </classes>
    </test>
</suite>
